*~
*.log
*.aux
*.bbl
*.blg
*.toc
*.tdo

*.bak
*.DS_Store

*.Rhistory
*.RData

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
*.Rproj
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/
*_files

# Temporary files created by R markdown
*.utf8.md
*.knit.md

*.synctex.gz
*.out

